<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>summary</th>
      <th>temperatureC</th>
      <th>temperatureF</th>
      <th>Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of datas;let i = index">
      <td><span class="res-head">{{i +1 }}</span></td>
      <td><span class="res-head">{{item.summary}}</span></td>
      <td><span class="res-head">{{item.temperatureC}}</span></td>
      <td><span class="res-head">{{item.temperatureF}}</span></td>
      <td><span class="res-head">{{item.date | date}}</span></td>
      <td class="action">
        <button>Add</button>
        <button>Edit</button>
        <button>Delete</button>
      </td>
    </tr>

  </tbody>
</table>

<div class="row" style="margin-bottom:15px;">
  <div class="col-md-3">
    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
    <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
  </div>
  <div class="col-md-4">
    <span class="upload" *ngIf="progress > 0">
      {{progress}}%
    </span>
    <span class="upload" *ngIf="message">
      {{message}}
    </span>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th>name</th>
      <th>image</th>
      <th>Db Name</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of images;let i = index">
      <td><span class="res-head">{{item.information.name}}</span></td>
      <td><span class="res-head">{{item.information.physicalPath}}</span></td>
      <td><span class="res-head">{{item.dbName}}</span></td>
      <td class="action">
        <button>Delete</button>
      </td>
    </tr>
  </tbody>
</table>
